@font-face {
  font-family: "NanumBarunpen";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: NanumBarunpen;
}

body {
  width: 355px;
  height: 781px;
  padding: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  margin: 33px 0 10px;
}

nav {
  display: flex;
  flex-direction: row;

  width: 315px;
  height: 80px;
  padding: 20px;
  border-bottom: 15px solid rgba(201, 153, 249, 0.5);
}

.inputPhoto {
  display: flex;
}

#photo {
  display: none;
}

#photo + label {
  width: 80px;
  height: 80px;
  border: 1px solid rgba(201, 153, 249, 1);
  border-radius: 100%;
  margin-right: 20px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
}

.username {
  font-size: 25px;
}

.useremail {
  font-size: 15px;
}

section {
  display: flex;
  flex-direction: column;
}

a,
#logout + label {
  text-decoration: none;
  padding: 20px 10px;
  border-bottom: 3px solid rgba(201, 153, 249, 0.5);
  font-size: 16px;
  font-weight: 700;
  color: black;

  &:hover {
    cursor: pointer;
  }
}

button {
  display: none;
}

.ad {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
